/**
    landing page styles
**/

.container {
    height: 100%;
    display: grid;
    grid-template-columns: auto;
    grid-template-rows: 10px auto 10px;
    grid-gap: 1.5em;
}

.food-thumbnail {
    width: 96%;
    height: 95%;
    padding: 2%;
}

