.order-container {
    background-color: white;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(350px, 1fr));
    grid-gap: 2%;
    grid-auto-rows: 50%;
    width: 90%;
    margin: 2% auto;
}

.order-title {
    text-align: center;
    display: flex;
    justify-content: center;
    color: darksalmon;
    background-color: white;
}

.order-section {
    background-color: aqua;
    grid-column: 1 / 2;
    grid-row: 2 / -1;
}

.history-section {
    grid-column: 2 / 3;
    grid-row: 2 / -1;
    background-color: cadetblue;
}

.map-image {
    width: 100%;
    height: 50%;
}

.map-image > img {
    width: 100%;
}

.delivery-info {
    
}
