.tray-container {
    display: block;
}

.tray-title {
    font-family: monospace;
    width: 90%;
    margin: 2% auto;
    background-color: white;
    border-bottom: 1px solid black;
    text-align: center;
    padding: .1em;
}

.tray-block {
    text-align: center;
    width: 90%;
    display: flex;
    justify-content: space-between;
    margin: 0 auto;
}

#tray {
    background-color: white;
/*    min-width: 50%;*/
    width: 70%;
    font-family: Courier, sans-serif;
}

.tray-item {
    display: flex;
    justify-content: space-between;
    list-style: none;
    padding: 0 1em;
    border: 1px solid green;
}

.tray-item span {
    
}

#tray input {
    width: 40%;
}

#tray-subtotal {
    font-family: monospace;
    width: 28%;
    background-color: white; 
}

#tray-subtotal h2 {
    margin: .5em;
    padding-bottom: .5em;
    border-bottom: 1px solid dimgray;
    
}

#tray-subtotal span {
    font-size: 3em;
    margin-bottom: 1em;
}

.tray-actions {
    font-family: monospace;
    width: 90%;
    margin: 1em auto;
    display: flex;
    justify-content: space-between;
}

.tray-actions button {
    padding: .5em;
    font-size: 14px;
    border: none;
}

#checkout-button {
    width: 28%;
    border: 1px solid black;
    background-color: aqua;
}


